.env
.venv/
venv/
app.log
data/pdfs/*
data/evaluation/result.json
data/evaluation/evaluation_plot.html
data/evaluation/single_question_evaluation_plot.html
rmg/
faiss_vectorstore/
# Byte-compiled / optimized / DLL files
__pycache__/
